* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.div-casa {
  background: #02001F;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 2px;
}

.div-casa:hover {
  background: #0b00a1;
}

.player {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
}

.game-dice {
  position: absolute;
  top: 0;
  width: 100%;
}

#scene {
  --diePad: 0.2;
  --minAxis: min(200px, 300px);
  --maxAxis: max(200px, 300px);
}

body {
  background-color: #3CA0D0;
}

.game-container {
  margin-top: 160px;
}

.game-dice-back {
  background-color: #034769;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#select {
  height: 30px;
  border-radius: 5px;
  width: 220px;
  font-size: 14px;
  padding-left: 5px;
}

.select-group {
  padding: 10px;
  color: black;
}

.select-group span {
  padding: 10px;
  color: black;
  font-size: 20px;
  padding-left: 5px;
}

.div-casa.active {
  background-color: #5D016D;
}

@media (max-width: 1000px), (max-height: 1000px) {
  .div-casa {
    width: 80px;
    height: 80px;
    margin: 2px;
  }
}

@media (max-width: 860px), (max-height: 860px) {
  .div-casa {
    width: 60px;
    height: 60px;
    margin: 1px;
  }
  #scene {
    --diePad: 0.2;
    --minAxis: min(200px, 200px);
    --maxAxis: max(200px, 200px);
  }
  .game-container {
    margin-top: 130px;
  }
}

@media (max-width: 640px), (max-height: 640px) {
  .div-casa {
    width: 44px;
    height: 44px;
    margin: 1px;
  }
  #select {
    height: 30px;
    width: 180px;
    font-size: 13px;
  }
  .select-group {
    padding: 10px;
    color: black;
  }
  .select-group span {
    padding: 5px;
    font-size: 15px;
    padding-left: 5px;
  }
}

@media (max-width: 420px), (max-height: 420px) {
  .div-casa {
    width: 25px;
    height: 25px;
    margin: 1px;
  }
}