* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.div-casa {
  background: #02001F;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 2px;
}

.div-casa:hover {
  background: #0b00a1;
}

.player {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
}

.game-dice {
  position: absolute;
  top: 0;
  width: 100%;
}

#scene {
  --diePad: 0.2;
  --minAxis: min(200px, 300px);
  --maxAxis: max(200px, 300px);
}

body {
  background-color: #3CA0D0;
}

.game-container {
  margin-top: 160px;
}

.menu-game {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.game-dice-back {
  background-color: #034769;
  display: inline-block;
}

.game-controllers {
  text-align: center;
  background-color: #016292;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr)
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.game-controllers button {
  width: 200px;
  margin: 10px;
  height: 25px;
  background-color: #fff;
  border: none;
  transition: all .3s ease-in-out;
}

.game-controllers button:hover {
  background-color: #d1d1e1;
}

#select {
  width: 200px;
  margin: 10px;
  height: 25px;
  text-align: center;
  text-align-last: center;
  border: none;
  transition: all .3s ease-in-out;
}

.game-controllers select:hover {
  background-color: #e1e1e1;
}



.div-casa.active {
  background-color: #5D016D;
}

@media (max-width: 1000px), (max-height: 1000px) {
  .div-casa {
    width: 80px;
    height: 80px;
    margin: 2px;
  }
}

@media (max-width: 860px), (max-height: 860px) {
  .div-casa {
    width: 60px;
    height: 60px;
    margin: 1px;
  }
  #scene {
    --diePad: 0.2;
    --minAxis: min(200px, 200px);
    --maxAxis: max(200px, 200px);
  }
  .game-container {
    margin-top: 130px;
  }
}

@media (max-width: 640px), (max-height: 640px) {
  .div-casa {
    width: 44px;
    height: 44px;
    margin: 1px;
  }
}

@media (max-width: 420px), (max-height: 420px) {
  .div-casa {
    width: 25px;
    height: 25px;
    margin: 1px;
  }
}